<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Score Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    
  <div class="pdf-container">
    <pdf-viewer
    [src]="pdfSrc"
    [rotation]="0"
    [original-size]="false"
    [show-all]="true"
    [fit-to-page]="false"
    [zoom]="1"
    [zoom-scale]="'page-width'"
    [stick-to-page]="false"
    [render-text]="true"
    [external-link-target]="'blank'"
    [autoresize]="true"
    [show-borders]="false"
    [page]="1"
    ></pdf-viewer>
  </div>
  
  <div id="sheetmusic"></div>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">   
    <ion-row>
      <ion-col routerLink="/tabs/tab2">
        <span class="iconify" data-icon="ic:baseline-home"></span>
      </ion-col>

      <ion-col (click)="showPopover($event);">
        <ion-icon name="mic"></ion-icon>
      </ion-col>

      <ion-col>
        <span class="iconify" data-icon="mdi:metronome"></span>
      </ion-col>

      <ion-col>
        <ion-icon name="play-circle"></ion-icon>
      </ion-col>
      
      <ion-col>
        <span class="iconify" data-icon="mdi:brush"></span>
      </ion-col>
            
      <ion-col>
        <ion-icon name="volume-medium"></ion-icon>
      </ion-col>     

      <ion-col>
        <ion-icon name="settings"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-footer>



