<ion-list>
  <ion-item *ngFor="let recording of recordings"> 
    <ion-label (click)="playRec(recording)">{{recording.name}}</ion-label>
  </ion-item>
</ion-list>

  <ion-item id="recording Buttons" (click)="startCountdown();">
    <ion-label>New recording</ion-label>
  </ion-item>

  <ion-item *ngIf="isRecording" (click)="stopRecording();">
    <ion-label>Stop recording</ion-label>
  </ion-item>

  <div id="countdown" *ngIf="timeTillStop > 0">
    <div id="countdown-number">{{timeTillStop}}</div>
    <svg>
      <circle r="18" cx="20" cy="20"></circle>
    </svg>
  </div>
