<!--header-->
<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <h1>
          Welcome (user)
        </h1>
      </ion-col>
      <ion-col size="2">
        <ion-img src="/assets/icons/logoHalf.png"></ion-img>
      </ion-col>
    </ion-row>

    <!--search-->
    <ion-row>
      <ion-searchbar color="light" animated placeholder="search for scores, ensembles..."></ion-searchbar>
    </ion-row>

  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <!--events-->
  <div class="events">
    <ion-grid>
      <!--events title & button-->
      <ion-row>
        <ion-col size="10">
          <ion-item lines="none">
            <span class="iconify" data-icon="mdi:music-box-multiple" style="color: #0b1a33;"></span>
            <h2>Upcoming Events</h2>
          </ion-item>

        </ion-col>
  
        <ion-col size="2">
          <ion-button color="danger" routerLink="./events">View Events</ion-button>
        </ion-col>
      </ion-row>
  
      <!--events cards-->
      <ion-row>
        <swiper #swiper [config]="config">
          <ng-template swiperSlide *ngFor="let event of ensembleService.event">
            <!--card 1, 2, etc.. -->
            <ion-card [routerLink]="['../','tab4',event.ensembleID,event.id]">
              <div id="colorGradient"></div>
              <div id="colorFilter"></div>
              
              <ion-card-content>
                <ion-card-title>{{event.name}}</ion-card-title>
                <ion-card-subtitle>{{ensembleService.getEnsembleByID(event.ensembleID).name}}</ion-card-subtitle>
  
                <ion-row id="eventCardDetails">
                  <ion-col size="6">
                    <ion-text id="type">{{event.type}}</ion-text>
                  </ion-col>
  
                  <ion-col size="6">
                    <ion-text id="date">date/time</ion-text>
                  </ion-col>
                </ion-row>
  
              </ion-card-content>
            </ion-card>
  
          </ng-template>
  
        </swiper>
      </ion-row>
    </ion-grid>
  </div>

  <!--update post-->
  <div class="ensemblePost">
    <ion-grid>
      <!--update title & button-->
      <ion-row>
        <ion-col size="10">
          <ion-item lines="none">
            <span class="iconify" data-icon="mdi:music-box-multiple" style="color: #0b1a33;"></span>
            <h2>Ensemble Update</h2>
          </ion-item>

        </ion-col>

        <ion-col size="2">
          <ion-button color="secondary">View Updates</ion-button>
        </ion-col>
      </ion-row>

      <!--posts-->
      <ion-card>
        <ion-row>
          <ion-col size="1">
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </ion-col>

          <ion-col size="11">
            <h1>(ensemble name)</h1>
            <ion-text color="success">(date/time)</ion-text>
          </ion-col>
        </ion-row>

          <ion-row>
            <ion-col size="12">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus porro, voluptatibus quia quisquam
                  magni cupiditate officiis amet ex minima necessitatibus saepe, natus perspiciatis ut corporis?
                  Voluptatem maxime unde placeat ratione. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus porro, voluptatibus quia quisquam
                  magni cupiditate officiis amet ex minima necessitatibus saepe, natus perspiciatis ut corporis?
                  Voluptatem maxime unde placeat ratione.
                </p>
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-grid>
  </div>

  <!--cateogries-->
  <div class="categories">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-chip color="tertiary">
            <ion-icon name="star"></ion-icon>
            <ion-label>Favorites</ion-label>
          </ion-chip>

          <ion-chip color="primary">
            <ion-icon name="star"></ion-icon>
            <ion-label>ALCM</ion-label>
          </ion-chip>

          <ion-chip color="secondary">
            <ion-icon name="star"></ion-icon>
            <ion-label>Marches</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-icon name="star"></ion-icon>
            <ion-label>Summer Exam</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

  <!--recently Playlist-->
  <div class="recentPlaylists">
    <!--playlist title & button-->
    <ion-row>
      <ion-col size="10">
        <ion-item lines="none">
          <span class="iconify" data-icon="ic:round-library-music"></span>
          <h2>Recent playlist</h2>
        </ion-item>
      </ion-col>

      <ion-col size="2">
        <ion-button routerLink="../tab2" routerDirection="forward">View Playlists</ion-button>
      
      </ion-col>
    </ion-row>
    
    <ion-list lines="none">
      <!--list header-->
      <ion-item class="listHeader">
        <ion-grid>
          <ion-row>
            <ion-col size="6"><h6>Piece Title</h6></ion-col>
            <ion-col size="2"><h6>Composer</h6></ion-col>
            <ion-col size="2"><h6>Instrumentation</h6></ion-col>
            <ion-col size="2"><h6>Ensemble</h6></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-sliding *ngFor="let score of ensembleService.score | slice:0:3; let i = index;">
        <!--piece card-->
        <ion-item>
          <ion-card [routerLink]="['/score-detail/', score.id]" class="pieceCard" color="light">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <h1>{{score.name}}</h1>
                  </ion-col>

                  <ion-col size="2">
                    <h3>{{score.composer}}</h3>
                  </ion-col>
                  <ion-col size="2">
                    <h3>{{score.instruments}}</h3>
                  </ion-col>
                  <ion-col size="2">
                    <h3>{{ensembleService.getEnsembleByID(score.ensembleID)?
                      ensembleService.getEnsembleByID(score.ensembleID).name : 'Personal' }}</h3>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
        </ion-item>

        <ion-item-options>
          <ion-item-option>
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>


</ion-content>