<!--header-->
<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <h1>
          Events
        </h1>
      </ion-col>
      <ion-col size="2">
        <ion-button color="primary" (click)="showModal();">add event</ion-button>
      </ion-col>
    </ion-row>

    <!--search-->
    <ion-row>
      <ion-searchbar color="light" animated placeholder="search for events..."></ion-searchbar>
    </ion-row>

  </ion-grid>  
</ion-header>


<ion-content [fullscreen]="true">

  <ion-item>
    <h1 id="todayDate">{{todaysDate==selectedDate? 'Today, ' + selectedDate : selectedDate }}</h1>
    <ion-button slot="end" (click)="setToday();">today</ion-button>
  </ion-item>

  <ion-datetime 
  #datetime
  [value]="dateValue"
  presentation="date"
  size="cover"
  min="2022"
  max="2099"
  (ionChange)="dateChanged(datetime.value);"></ion-datetime>
  
<!--Events-->
<div *ngIf="eventsByDate.length >= 1">
  <div id="eventList" *ngFor="let event of eventsByDate">
    <h3>{{event.time}}</h3>

    <ion-card [routerLink]="['./','tab4',event.ensembleID,event.id]">
      <ion-card-content>
        <ion-row>
          <ion-col size="2">(event img)</ion-col>

          <ion-col size="6">
            <ion-card-title>{{event.name}}</ion-card-title>
            <ion-card-subtitle>{{ensembleService.getEnsembleByID(event.ensembleID).name}}</ion-card-subtitle>
          </ion-col>

          <ion-col id="eventCardDetails" size="4">
            <ion-row>
              <ion-col size="12">
                <ion-text  color="success">{{event.type}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>

      </ion-card-content>
    </ion-card>
</div>
</div>

<div id="noEvents" *ngIf="eventsByDate.length <= 1">
  <h4>No Events</h4>
  <ion-button color="primary" (click)="showModal();">add event</ion-button>
</div>

</ion-content>
