<!--header-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="danger">leave</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <!--avatar-->
        <ion-row>
          <ion-col size="12">
            <ion-avatar id="ensemblePic">
              <img src="{{selectedEnsemble.picture}}" alt="Ensemble profile image">
            </ion-avatar>
          </ion-col>
        </ion-row>

        <!--admins-->
        <ion-row>
          <ion-col size="12">
            <h3>Admins</h3>
            <ion-avatar>
              <img src="/assets/images/userPic.jpg" alt="admin profile image">
            </ion-avatar>
          </ion-col>
        </ion-row>        
      </ion-col>

      <ion-col size="10">
        <!--title and button-->
        <ion-row>
          <ion-col size="12">
            <h1>{{selectedEnsemble.name}}</h1>
          </ion-col>
        </ion-row>

        <!--icons and description-->
        <ion-row>
          <ion-col size="2">
            <span id="noOfMembers" class="iconify" data-icon="ic:baseline-person"></span>
            40
          </ion-col>

          <ion-col size="2">
            <span id="noOfEvents" class="iconify" data-icon="ic:baseline-person"></span>
            4
          </ion-col>

          <ion-col size="2">
            <span id="ensembleType" class="iconify" data-icon="ic:baseline-person"></span>
            {{selectedEnsemble.visibility}}
          </ion-col>
        </ion-row>

        <!--description-->
        <ion-row>
          <ion-col size="12">
            <p>{{selectedEnsemble.description}}</p>
          </ion-col>
        </ion-row>

      </ion-col>
      
    </ion-row>
  </ion-grid>  
  
  <!--segment nav-->
  <ion-segment [(ngModel)]="selectedtab">
    <ion-segment-button value="posts" layout="icon-start">
      <ion-label>Posts</ion-label>
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="events" layout="icon-start">
      <ion-label>Events</ion-label>
      <ion-icon name="calendar-clear"></ion-icon>
    </ion-segment-button>
    
    <ion-segment-button value="scores" layout="icon-start">
      <ion-label>Scores</ion-label>
      <ion-icon name="library"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>
  
<ion-content [fullscreen]="true">
  <!--posts-->
  <div *ngIf="selectedtab =='posts'">
    <div>
      <ion-grid>
        <!--posts-->
        <ion-row>
          <ion-col size="1">
            <ion-avatar>
              <img src="{{selectedEnsemble.picture}}">
            </ion-avatar>
          </ion-col>

          <ion-col size="11">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>(ensemble name)</ion-card-title>
                <ion-text color="success">(date/time)</ion-text>
              </ion-card-header>

              <ion-card-content>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus porro, voluptatibus quia quisquam magni cupiditate officiis amet ex minima necessitatibus saepe, natus perspiciatis ut corporis? Voluptatem maxime unde placeat ratione.</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!--events-->
  <div *ngIf="selectedtab == 'events' ">
    <div class="events">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button class="ion-float-end" color="primary" (click)="showModal()">Add Event</ion-button>
          </ion-col>
        </ion-row>
        <!--events cards-->
        <ion-row>
          <!--card 1, 2, etc.. -->
          <ion-col size="4" *ngFor="let event of ensembleEvent"> <!--loop to be changed-->
            <ion-card [routerLink]="['./',event.id]">
              <div id="colorGradient"></div>
              <div id="colorFilter"></div>
              <ion-card-content>
                <ion-card-title>{{event.name}}</ion-card-title>
                <ion-card-subtitle>{{ensembleService.getEnsembleByID(event.ensembleID).name}}</ion-card-subtitle>

                <ion-row id="eventCardDetails">
                  <ion-col size="6">
                    <ion-text id="type">{{event.type}}</ion-text>
                  </ion-col>

                  <ion-col size="6">
                    <ion-text id="date">date/time</ion-text>
                  </ion-col>
                </ion-row>

              </ion-card-content>
            </ion-card>
          </ion-col>
  
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!--scores-->
  <div *ngIf="selectedtab == 'scores' ">
    
    <div>  
      <ion-list lines="none">
        <!--list header-->
        <ion-item id="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="5"><h6>Piece Title</h6></ion-col>
              <ion-col size="2"><h6>Composer</h6></ion-col>
              <ion-col size="2"><h6>Instrumentation</h6></ion-col>
              <ion-col size="3"><h6>Ensemble</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>.
  
        <!--piece card-->
        <ion-item *ngFor="let score of ensembleScore; let i = index;"  [routerLink]="['/score-detail/', score.id]">
          <ion-card class="pieceCard" color="light">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="5"><h1>{{score.name}}</h1></ion-col>
                  <ion-col size="2"><h3>{{score.composer}}</h3></ion-col>
                  <ion-col size="2"><h3>{{score.instruments}}</h3></ion-col>
                  <ion-col size="2"><h3>{{ensembleService.getEnsembleByID(score.ensembleID).name}}</h3></ion-col>
                  <ion-col size="1">
                    <ion-button fill="clear">
                      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-item>
    
      </ion-list>
    </div>
  </div>


</ion-content>