ion-header{
    color: #D7E2FF;
}

.eventFields{
    padding:2rem;

    ion-item{
        border-radius: 20px;
        
        &::part(native){
            padding-left: 0.8rem;
            background-color: white;
        }
    }

    .newEventSection{
        background-color: var(--ion-color-primary-light);
        margin-top: 1rem;
        border-radius: var(--card-border);
        padding: 0.5rem;
    }
}


ion-col{
    padding: 0 1rem 1rem 1rem;
}

#detailsInput{
    min-height: 6rem;
}


h2{
    font-weight: 600;
}

h2,h5,p{
    color:var(--ion-color-text);
}

ion-button{
    margin-top: 1rem;
}

img{
    max-width: 76%;
}