<ion-header color="light">
    <ion-toolbar>
        <h2>Add Event</h2>
        <h5>{{hasEnsemble? 'Create a new event for ' + ensembleName : 'Create new event'}} </h5>
        <ion-button slot="end" fill="clear" (click)="handleButtonClick()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="eventFields">
        <!--image-->
        <div class="newEventSection">
            <ion-row>
                <ion-col size="8">
                    <h2>Image</h2>
                    <p>Add an image for the event</p>                    
                    <input type="file" class="file-input" (change)="handleFileSelect($event)">
                </ion-col>

                <ion-col size="4">
                    <img src="{{imageSource}}" alt="">
                </ion-col>
            </ion-row>
        </div>

        <!--Details-->
        <div class="newEventSection">
            <ion-row>
                <ion-col size="12">
                    <h2>Details</h2>
                    <p>What is the event about?</p>
                </ion-col>
                <!--name-->
                <ion-col size="6">
                    <ion-item fill="solid">
                        <ion-label position="floating">Name</ion-label>
                        <ion-input clearInput [(ngModel)]="newEvent.name"></ion-input>
                    </ion-item>
                </ion-col>

                <!--type-->
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Type</ion-label>
                            <ion-select interface="popover" [(ngModel)]="newEvent.type">
                                <ion-select-option value="Performance">Performance</ion-select-option>
                                <ion-select-option value="Rehearsal">Rehearsal</ion-select-option>
                            </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row> 

            <!--ensemble-->
            <ion-row>
                <ion-col size="12" *ngIf="!hasEnsemble">
                    <ion-item>
                        <ion-label position="floating">Ensemble</ion-label>
                            <ion-select interface="popover" [(ngModel)]="newEvent.ensembleID">
                                <ion-select-option value=0>Personal</ion-select-option>
                                <ion-select-option *ngFor="let ensemble of ensembleService.ensemble" value={{ensemble.id}}>{{ensemble.name}}</ion-select-option>
                            </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!--description-->
            <ion-row>
                <ion-col size="12">
                    <ion-item fill="solid">
                        <ion-label position="floating">Details</ion-label>
                        <ion-input id="detailsInput" type="text" inputmode="description" [(ngModel)]="newEvent.description"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>        

        <!--location-->
        <div class="newEventSection">
            
            <ion-row>
                <ion-col size="12">
                    <h2>Location</h2>
                    <p>Where will the event take place?</p>
                    
                    <app-map [writeMap]=true (chosenLocation)="getLocation($event)" ></app-map>
                </ion-col>
            </ion-row>
        </div>
        
        <!--date & time-->
        <div class="newEventSection">
            <ion-row>
                <ion-col size="12">
                    <h2>Date</h2>
                    <p>When will the event occur?</p>
                    <ion-datetime 
                    #datetime
                    [value]="dateValue"
                    presentation="date-time"
                    size="cover"
                    [min]="currentYear"
                    max="2099"
                    (ionChange)="dateChanged(datetime.value);"></ion-datetime>
                </ion-col>
            </ion-row>
        </div>

        <!--programm-->
        <div class="newEventSection">
            <ion-row>
                <ion-col size="12">
                    <h2>Programm</h2>
                    <p>Which Scores will be played?</p>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="hasEnsemble">
                <ion-list lines="none">
                    <!--list header-->
                    <ion-item class="listHeader">
                        <ion-grid>
                            <ion-row>
                            <ion-col size="6"><h6>Piece Title</h6></ion-col>
                            <ion-col size="2"><h6>Composer</h6></ion-col>
                            <ion-col size="2"><h6>Instrumentation</h6></ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
            
                    <ion-item-sliding *ngFor="let score of ensembleService.getScoresByEnsembleID(ensembleID); let i = index;" [routerLink]="['/score-detail/', score.id]">
                        <ion-item>
                        <!--piece card-->
                        <ion-card class="pieceCard" color="light">
                            <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                <ion-col size="6"><h1>{{score.name}}</h1></ion-col>
                                <ion-col size="2"><h3>{{score.composer}}</h3></ion-col>
                                <ion-col size="2"><h3>{{score.instruments}}</h3></ion-col>
                                <ion-col size="2">
                                    <ion-checkbox (ionChange)="checkBoxChange($event,score.id);"></ion-checkbox>
                                </ion-col>
                                </ion-row>
                            </ion-grid>
                            </ion-card-content>
                        </ion-card>
                        </ion-item>
            
                        <ion-item-options>
                        <ion-item-option>
                            <ion-icon name="trash"></ion-icon>
                        </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>
            </ion-row>

            <ion-row *ngIf="!hasEnsemble">
                <ion-list lines="none">
                    <!--list header-->
                    <ion-item class="listHeader">
                        <ion-grid>
                            <ion-row>
                            <ion-col size="6"><h6>Piece Title</h6></ion-col>
                            <ion-col size="2"><h6>Composer</h6></ion-col>
                            <ion-col size="2"><h6>Instrumentation</h6></ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
            
                    <ion-item-sliding *ngFor="let score of ensembleService.getScoresByEnsembleID(undefined); let i = index;">
                        <ion-item>
                        <!--piece card-->
                        <ion-card class="pieceCard" color="light">
                            <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                <ion-col size="6"><h1>{{score.name}}</h1></ion-col>
                                <ion-col size="2"><h3>{{score.composer}}</h3></ion-col>
                                <ion-col size="2"><h3>{{score.instruments}}</h3></ion-col>
                                <ion-col size="2">
                                    <ion-checkbox (ionChange)="checkBoxChange($event,score.id);"></ion-checkbox>
                                </ion-col>
                                </ion-row>
                            </ion-grid>
                            </ion-card-content>
                        </ion-card>
                        </ion-item>
            
                        <ion-item-options>
                        <ion-item-option>
                            <ion-icon name="trash"></ion-icon>
                        </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                    </ion-list>
            </ion-row>
        </div>

        <!--create event button-->
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="save()" class="ion-float-end" fill="solid" color="primary">Create Event</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    
</ion-content>