<ion-header color="light">
    <ion-toolbar>
        <h2>Add Event</h2>
        <h5>{{hasEnsemble? 'Create a new event for' + '(ensemble name)': 'Create new event'}} </h5>
        <ion-button slot="end" fill="clear" (click)="handleButtonClick()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
    <ion-grid class="eventFields">
        <ion-row>
            <!--name-->
            <ion-col size="6">
                <ion-item fill="solid">
                    <ion-label position="floating">Name</ion-label>
                    <ion-input clearInput [(ngModel)]="newEvent.name"></ion-input>
                </ion-item>
            </ion-col>

            <!--type-->
            <ion-col size="6">
                <ion-item>
                    <ion-label position="floating">Type</ion-label>
                        <ion-select interface="popover" [(ngModel)]="newEvent.type">
                            <ion-select-option value="Performance">Performance</ion-select-option>
                            <ion-select-option value="Rehearsal">Rehearsal</ion-select-option>
                        </ion-select>
                </ion-item>
            </ion-col>
        </ion-row> 

        <!--ensemble-->
        <ion-row>
            <ion-col size="12" *ngIf="!hasEnsemble">
                <ion-item>
                    <ion-label position="floating">Ensemble</ion-label>
                        <ion-select interface="popover" [(ngModel)]="newEvent.ensembleID">
                            <ion-select-option *ngFor="let ensemble of ensembleService.ensemble" value={{ensemble.id}}>{{ensemble.name}}</ion-select-option>
                        </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <!--Details-->
        <ion-row>
            <ion-col size="12">
                <ion-item fill="solid">
                    <ion-label position="floating">Details</ion-label>
                    <ion-input id="details" type="text" inputmode="description" [(ngModel)]="newEvent.description"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        
        <!--location-->
        <ion-row>
            <ion-col size="12">
                <h3>Location</h3>
                
                <app-map [writeMap]=true (chosenLocation)="getLocation($event)" ></app-map>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <!--date & time-->
            <ion-col size="12">
                <h3>Date</h3>
                <ion-datetime 
                #datetime
                [value]="dateValue"
                presentation="date-time"
                size="cover"
                [min]="currentYear"
                max="2099"
                (ionChange)="dateChanged(datetime.value);"></ion-datetime>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-button (click)="save()" class="ion-float-end" fill="solid" color="success">Create Event</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    
</ion-content>