<!--header-->
<ion-header class="ion-no-border">
  <div id="cardImage" *ngIf="selectedEvent.image != null">
    <img [src]="eventPic">
  </div>

  <div id="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button color="danger">leave Event</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-grid>
      <!--event title and hosting-->
      
      <ion-row>
        <ion-col size="8">
          <h1>
            {{selectedEvent.name}}
          </h1>
        </ion-col>
        <ion-col size="4">
          <span>
            <h6>Hosting: </h6>
            <h5>{{selectedEnsemble.name}}</h5>
          </span>
        </ion-col>
      </ion-row>

      <!--event details and buttons-->
      <ion-row>
        <ion-col size="8">
          <ion-row>
            <ion-item id="eventType">
              <h6>{{selectedEvent.type}}</h6>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item id="eventDate">
              <h6>{{selectedEvent.date}}</h6>
            </ion-item>
          </ion-row>

          
        </ion-col>

        <ion-col size="4">
          <ion-row>
          <ion-button color="success">Going</ion-button>
          <ion-button color="secondary">maybe</ion-button>
          <ion-button color="danger">not going</ion-button>
        </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="selectedEvent.image !null" >
        <ion-button color="primary" fill="clear" (click)="showImageModal();">view image</ion-button>
      </ion-row>

    </ion-grid>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="eventFields">
    <!--details-->
    <div class="EventSection">
      <!--title-->
      <ion-row>
        <ion-col size="12">
          <h2>Details</h2>
        </ion-col>
      </ion-row>

      <!--details card-->
      <ion-row>
        <ion-col size="12">
          <ion-card color="light">
            <ion-card-content>
              <p color="primary">{{selectedEvent.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </div>

    <!--location-->
    <div class="EventSection">
      <!--title-->
      <ion-row>
        <ion-col size="12">
          <h2>Location</h2>
        </ion-col>
      </ion-row>

      <!--details card-->
      <ion-row>
        <ion-col size="12">
          <ion-card color="light">
            <ion-card-content>
              <app-map [writeMap]=false></app-map>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </div>

    <!--Memeber list-->
    <div class="EventSection">
      <!--title-->
      <ion-row>
        <ion-col size="12">
          <h2>Attending musicians</h2>
        </ion-col>
      </ion-row>

      <!--details card-->
      <ion-row>
        <ion-col size="1">
          <ion-avatar>
            <img src="assets/images/userPic.jpg" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col size="1">
          <ion-avatar>
            <img src="assets/images/userPic.jpg" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col size="1">
          <ion-avatar>
            <img src="assets/images/userPic.jpg" alt="">
          </ion-avatar>
        </ion-col>
      </ion-row>

    </div>

    <!--Program-->
    <div class="EventSection">
      <!--title-->
      <ion-row>
        <ion-col size="12">
          <h2>Programm</h2>
        </ion-col>
      </ion-row>

      <ion-list lines="none">
        <!--list header-->
        <ion-item id="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                <h6>Piece Title</h6>
              </ion-col>
              <ion-col size="2">
                <h6>Composer</h6>
              </ion-col>
              <ion-col size="2">
                <h6>Instrumentation</h6>
              </ion-col>
              <ion-col size="3">
                <h6>Ensemble</h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item-sliding *ngFor="let score of eventScores">
          <ion-item>
            <!--piece card-->
            <ion-card class="pieceCard" color="light" [routerLink]="['/score-detail/', score.id]">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <h1>{{score.name}}</h1>
                    </ion-col>
                    <ion-col size="2">
                      <h4>{{score.composer}}</h4>
                    </ion-col>
                    <ion-col size="2">
                      <h4>{{score.name}}</h4>
                    </ion-col>
                    <ion-col size="2">
                      <h4>{{score.instruments}}</h4>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>

          <ion-item-options>
            <ion-item-option>
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>


      </ion-list>
    </div>
  </div>

</ion-content>