<!--header-->
<ion-header class="ion-no-border">
  <div id="cardImage" *ngIf="selectedEvent.image != null">
    <img [src]="eventPic">
  </div>

  <div id="header">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="home"></ion-back-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button color="danger">leave Event</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-grid>
      <!--event title and hosting-->
      
      <ion-row>
        <ion-col size="8">
          <h1>
            {{selectedEvent.name}}
          </h1>
        </ion-col>
        <ion-col size="4">
          <span>
            <h6>Hosting: </h6>
            <h5>{{selectedEnsemble.name}}</h5>
          </span>
        </ion-col>
      </ion-row>

      <!--event details and buttons-->
      <ion-row>
        <ion-col size="8">
          <ion-row>
            <ion-item id="eventType">
              <h6>{{selectedEvent.type}}</h6>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item id="eventDate">
              <h6>{{selectedEvent.date}}</h6>
            </ion-item>
          </ion-row>

          
        </ion-col>

        <ion-col size="4">
          <ion-row>
          <ion-button color="success">Going</ion-button>
          <ion-button color="secondary">maybe</ion-button>
          <ion-button color="danger">not going</ion-button>
        </ion-row>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="selectedEvent.image !null" >
        <ion-button color="primary" fill="clear" (click)="showImageModal();">view image</ion-button>
      </ion-row>

    </ion-grid>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="eventFields">
    <!--details-->
    <div class="EventSection">
      <!--title-->
      <ion-row>
        <ion-col size="12">
          <h2>Details</h2>
        </ion-col>
      </ion-row>

      <!--details card-->
      <ion-row>
        <ion-col size="12">
          <ion-card color="light">
            <ion-card-content>
              <p color="primary">{{selectedEvent.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </div>

    <!--location-->
    <div class="EventSection">
      <!--title-->
      <ion-row>
        <ion-col size="12">
          <h2>Location</h2>
        </ion-col>
      </ion-row>

      <!--details card-->
      <ion-row>
        <ion-col size="12">
          <ion-card color="light">
            <ion-card-content>
              <app-map [writeMap]=false></app-map>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </div>

    <!--attending list-->
    <div class="EventSection">
      <!--title-->
      <ion-accordion-group class="attendingList" value="attending">
        <ion-accordion>
          <ion-item slot="header">

            <span class="iconify" data-icon="ic:round-library-music"></span>
            <span>
              <h2>Attending musicians</h2>
            </span>

          <span>
            <h3>39</h3>
          </span>
          </ion-item>

      <!--details card-->
      <ion-list class="attendingBox" slot="content" lines="none">
        <div class="section">
        <ion-item>
          <h2>Flute</h2>
        </ion-item>

        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>


        <ion-item *ngFor="let musician of attending | slice: 0:5">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Clarient</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 5:7">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>

          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Alto Saxophone</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 7:8">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
          </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Tenor Saxophone</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 8:9">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Horn in F</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 9:12">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Trumpet</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 12:20">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Trombone</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 20:24">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Bariton horn</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 10:15">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Euphonium</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 10:15">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Tuba</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 14:16">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Snare Drum</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 17:18">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Cymbals</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 18:19">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>

      <div class="section">
        <ion-item>
          <h2>Bass drum</h2>
        </ion-item>
  
        <!--list header-->
        <ion-item class="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="2"><h6>Profile image</h6></ion-col>
              <ion-col size="6"><h6>Name</h6></ion-col>
              <ion-col size="4"><h6>Contact</h6></ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

        <ion-item *ngFor="let musician of attending | slice: 20:21">
          <ion-card class="pieceCard" color="light">
            <ion-row>
              <ion-col size="2">
                <ion-avatar>
                  <img src="assets/images/userPic.jpg" alt="">
                </ion-avatar>
              </ion-col>

              <ion-col size="6">
                <h2>{{musician.name}}</h2>
              </ion-col>

              <ion-col size="4">
                <h4>{{musician.phone}}</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-item>
      </div>
      </ion-list>

        </ion-accordion>
      </ion-accordion-group>
    </div>

    <!--Program-->
    <div class="EventSection">
      <!--title-->
      <ion-row>
        <ion-col size="12">
          <h2>Programm</h2>
        </ion-col>
      </ion-row>

      <ion-list lines="none">
        <!--list header-->
        <ion-item id="listHeader">
          <ion-grid>
            <ion-row>
              <ion-col size="5">
                <h6>Piece Title</h6>
              </ion-col>
              <ion-col size="2">
                <h6>Composer</h6>
              </ion-col>
              <ion-col size="2">
                <h6>Instrumentation</h6>
              </ion-col>
              <ion-col size="3">
                <h6>Ensemble</h6>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item-sliding *ngFor="let score of eventScores">
          <ion-item>
            <!--piece card-->
            <ion-card class="pieceCard" color="light" [routerLink]="['/tabs','tab2', score.id]">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <h1>{{score.name}}</h1>
                    </ion-col>
                    <ion-col size="2">
                      <h4>{{score.composer}}</h4>
                    </ion-col>
                    <ion-col size="2">
                      <h4>{{score.name}}</h4>
                    </ion-col>
                    <ion-col size="2">
                      <h4>{{score.instruments}}</h4>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>

          <ion-item-options>
            <ion-item-option>
              <ion-icon name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>


      </ion-list>
    </div>
  </div>

</ion-content>