/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Swiper */
@import '~swiper/css/bundle';

body{
    //text color
    color: var(--ion-color-text);
    
    //background treble 
    background: url(assets/images/treble.svg) no-repeat #ECF0FF;
    background-attachment: fixed;
    background-position: 130% 100%; 
    background-size: 42%;
    
}

//swiper
.swiper-pagination-bullet-active {
    background-color: var(--ion-color-primary) !important;
}

//content
ion-content{
    --padding-start: 2rem;
    --padding-end: 2rem;
}

//ion-item
ion-item{
    ion-card{
        margin-left:0;
        margin-right:0;
    }
}

ion-item::part(native){
    padding-inline-start: 0;
}


//header
ion-header{
    padding: 2rem;
    min-height: 12.75%;
    background-color: #ECF0FF;    

    h1{
        font-size: 2.2em;
        font-weight: 700;
    }
}


//searchbar
ion-searchbar{
    margin-top: 10px;

    .searchbar-input-container{
        .searchbar-input{
            border-radius: var(--card-border);
        }
    }
}

//tabs
ion-tab-bar{
    background: transparent !important;
    border: 0;
    margin: 0 2rem 0 2rem;
    height: 84px;
    
    ion-tab-button{
        
        //tablet
        @media screen and (min-width:750px){
            margin:0;
        }

        margin:0 3rem 0 3rem;
        
        .iconify{
            color:var(--ion-color-primary);
            font-size: 26px;
        }
        
        ion-card{
            color: var(--backdrop-primary-color);
            background-color: #f2f7ff00; //transparent
            box-shadow: none;
            
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-direction: column;

            padding: 4px;

            width: 100%;
            height: 100%;

            ion-icon{
                color:var(--ion-color-primary);
                font-size: 26px;
            }

            ion-label{
                margin-top: 5px;
            }
    
            #circleIcon{
                color:var(--ion-color-primary);
                font-size: 40px;
            }
        }

    }
}


// selected tab
.tab-selected{
    
    ion-card{
        color: var(--ion-color-secondary-dark);
        background-color: var(--ion-color-secondary-tint);
        
        .iconify{
            color: var(--ion-color-secondary-dark);
        }
        
        ion-icon{
            color: var(--ion-color-secondary-dark);
        }
        
        #circleIcon{
            color: var(--ion-color-secondary-dark);
        }
    }
}


.events,.ensemblePost,.recentPlaylists,.favoritesScores,.scoresByComposer,.allScores
,.recentScores,.accountFields{
    h2{
        color: var(--ion-color-text);
        margin-left: 1rem;
        font-weight: 600;
    }
}


//cards
ion-card{
    background-color: var(--ion-color-light);

    border-radius: var(--card-border);
}

//chips
ion-chip{
    font-size: 1rem;
    margin-right: 2rem;
    width: 10rem;
    height: 4rem;

    ion-label{
        font-weight: 550;
    }
}

//event card
.events{
    h2{
        color: var(--ion-color-secondary);
    }

    ion-card{
        position: relative;
        background-color: red;
        background-image: url(assets/images/mpoLogo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 20rem;

        #colorFilter{
            background: rgba(11,26,51,0.60);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        #colorGradient{
            background: linear-gradient(0deg, rgba(102,153,255,.5) 0%, rgba(255,102,139,.4) 100%);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        #cardImage{
            img{             
                width: 150%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                z-index: 0;
            }
        }
        
        ion-card-content{
            z-index: 2;
            position: absolute;
            bottom: 0%;
            width: 100%;

            ion-card-title{       
                color: #ffff;
                font-size: 1.4rem;
                font-weight: 800;
            }
            
            ion-card-subtitle{
                color: #ffff;
                font-size: 1rem;
                font-weight: 200;
            }
            
            #eventCardDetails{
                text-align: center;
                margin-top: 1em;
                
                #type{
                    padding: 0.5em;
                    border-radius:var(--card-border);
                    background-color: var(--ion-color-success-light);
                    color: var(--ion-color-success);
                }
                
                #date{
                    padding: 0.5em;
                    border-radius:var(--card-border);
                    background-color: var(--ion-color-tertiary-light);
                    color: var(--ion-color-tertiary);
                }
            }
        }

    }

    //tablet
    @media screen and (max-width:950px){
        ion-card{
            min-height: 15rem;
            
            ion-card-content{
                ion-card-title, ion-card-subtitle{
                    font-size: 1rem;
                }
            }

            #type,#date{
                font-size: 0.7rem;
            }
        }
    }
}

//all events
#todayDate{
    font-size: 2em;
}

#eventList{
    ion-card{
        width: 100%;
    }

    #eventCardDetails{
        text-align: right;
        margin-top: 1em;
    }
}

//calendar
ion-datetime{
    border-radius: var(--card-border);
}

//ensemble post
.ensemblePost{

    ion-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding-left: 1rem;
        padding-right: 1rem;
        color: var(--ion-color-primary);
        min-height: 200px;
    }

    ion-avatar{
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;   
    }

    h2{
        color: var(--ion-color-tertiary);
    }
}

//icons
.iconify{
    font-size: 26px;
}

#noOfMembers{
    color: var(--ion-color-success);   
}

#noOfEvents{
    color: var(--ion-color-tertiary);   
}

#ensembleType{
    color: var(--ion-color-secondary);
}

//segments
ion-segment{
    height: 4em;
    background-color: #ECF0FF;
    border-radius: var(--card-border);
    
    .segment-button-checked{
        color: white;
        background-color:var(--ion-color-text);
    }
    
    ion-segment-button{
        color:var(--ion-color-primary-tint);
        --indicator-color: none;
    }

}

//listHeader
.listHeader{
    color: var(--ion-color-text);
}

//ALL cards for each score in the list
.pieceCard{
    
    width: 100%;
    
    ion-card-content{
        padding: 0.5vh 0.5vh 0.5vh 1vh;
        color: var(--ion-color-text);

        h1{
            font-weight: 550;
        }

        h3{
            font-weight: 400;
        }
    }

}

// * specific sections *

.recentScores, .favoritesScores, .allScores, .scoresByComposer, .recentPlaylists
,.accountFields{
    margin-top: 1rem;
    border-radius: var(--card-border);
    padding: 1rem;
}

//recent scores
.recentScores{
    background-color: var(--ion-color-success-light);

    //swiper
    .swiper-pagination-bullet-active {
        background-color: var(--ion-color-success) !important;
    }


    h2, .iconify{
        color: var(--ion-color-success);
    }

    ion-text{
        color: var(--ion-color-text);
    }

    ion-card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        ion-card-title, ion-card-subtitle{
            color: var(--ion-color-text);
        }
    }

    #eventCardDetails{
        margin-top: 1em;
        text-align: center;
        background-color: var(--ion-color-success-light);
        border-radius:var(--card-border);
        
        #ensembleName{
            color: var(--ion-color-success);
            padding: 0.5em;
        }
    }
}

//favorites scores
.favoritesScores{
    background-color: var(--ion-color-secondary-light);

    h2, .iconify{
        color: var(--ion-color-secondary);
    }
}

//scores by composer
.scoresByComposer{
    background-color: var(--ion-color-tertiary-light);

    h2, .iconify{
        color: var(--ion-color-primary);
    }
}


//all scores
.allScores{
    background-color: var(--ion-color-primary-light);

    h2, .iconify{
        color: var(--ion-color-primary);
    }
}

//recent playlist on tab1
.recentPlaylists{
    background-color: var(--ion-color-primary-light);
    h2, .iconify{
        color: var(--ion-color-primary);
    }
}

//categories  on tab1
.categories{
    ion-col{
        display: flex;
        justify-content: space-between;

    }

    h2, .iconify{
        color: var(--ion-color-primary);
    }

}


ion-item-option{
    background-color: transparent;
    
    ion-icon{
        font-size: 2rem;
        color: var(--ion-color-danger);
    }
}


//event details
#eventLocation{
    color:var(--ion-color-secondary);
    background-color: var(--ion-color-secondary-light);
}

#eventType{
    color:var(--ion-color-success);
    background-color: var(--ion-color-success-light);
}

#eventDate{
    color:var(--ion-color-tertiary);
    background-color: var(--ion-color-tertiary-light);
}

//ensemble cards
#ensemble{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    ion-card{
        min-height: 26vh;
        position: relative;

        border: 2px solid var(--ion-color-primary-light);

        #colorGradient{
            position: absolute;
            height: 100%;
            width: 100%;
        }

        ion-avatar{
            margin-top: 1rem;
            position: relative;
        }
    }

}

#newEnsemble{
    background-color: var(--ion-color-primary-light);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    min-height: 20vh;
    margin-top: 3em;

    color: var(--ion-color-primary);
    
    h2{
        font-weight: 550;
    }

    ion-icon{
        color: var(--ion-color-primary);
    }   

}

//new event modal
.eventModal::part(content){
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    min-width: 100%;
    min-height: 100%;   
}

.eventModal{
    ion-content{
        background-color:var(--ion-color-primary-mid);
    }
}

.select-interface-option {
    color: var(--ion-color-text);
    padding-left: 1rem;
    background-color: white;
}

//image modal
.imageModal::part(content){
    width: 80%;
    height: 50%;

    border-radius: var(--card-border);
    
    color: var(--ion-color-primary);
    background-color: var(--ion-color-light);
    
}

//recording modal
.recordingModal::part(content){
    width: 40%;

    border-radius: var(--card-border);
    
    color: var(--ion-color-primary);
    background-color: var(--ion-color-light);
    
    position: absolute;
    bottom:56px;

}


//recording confirm
.recordingConfirmModal::part(content){
    width: 40%;
    height: 10%;

    border-radius: var(--card-border);
    
    color: var(--ion-color-primary);
    background-color: var(--ion-color-light);
    padding: 0 2em 0 2em;
    
    position: absolute;
    bottom:50%;
}

#nameInput, #saveButton{
    padding: 1em 2em 1em 2em;
}


//metronome modal
app-metronome.ion-page{
    
    ion-content{
        h3{
            padding-left: 2rem;
            margin-bottom: 0 ;
            color: var(--backdrop-primary-color);
        }
        padding: 0 100px 0 100px;
    }
}

.metronomeModal::part(backdrop),
.recordingModal::part(backdrop),
.tunerPopover::part(backdrop),
.pageScalePopover::part(backdrop){
    background-color: var(--backdrop-primary-color);
}

.metronomeModal{
    margin: 0 5vh 0 5vh;
}

.metronomeModal::part(content){
    width: 100%;
    height: 25%;

    border-radius: var(--card-border);
    
    color: var(--ion-color-primary);
    background-color: var(--ion-color-light);
    
    position: absolute;
    bottom:56px;
    transform: translate(-8%, -8%);

}

//time signature display
#timeSigniture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 2rem;

    ion-card{
        font-size: 2rem;
        text-align: center;

        height: 4rem;
        width: 4rem;
    }
}

//time signature picker
.timeSignaturePicker{
    color: var(--ion-color-primary);
    
    .picker-wrapper{    
        color: var(--ion-color-primary);
        top:20%;
        background-color: var(--ion-color-light);
        max-width: 25%;

        .picker-opt-selected{
            background-color: var(--ion-color-primary-light);
        }
    }
}

// recording, tuner and pageScale popovers
.recordingModal,.tunerPopover,.pageScalePopover{
    color: var(--ion-color-primary);

    ion-label{
        text-align: center;
    }

    ion-list,ion-content,ion-toolbar{
        background-color: var(--ion-color-light);
    }
}


//alert 
.alert{
    text-align: center;
    
    > div {
        text-align: center;
        background-color: var(--ion-color-white) !important;
        margin-bottom: 10px;
    }
    
    .alert-head{
        text-align: center;
        padding-top: 6rem; // to leave space for the icon in the alert header
        background-image: url(./assets/icons/close.svg);
        background-position: 50% 20%; 
        background-size: 4rem;
        background-repeat: no-repeat;
    }

    button.alert-button:nth-child(1){
        color: var(--ion-color-danger);
    }
}

//toolbar
.Toolbar{
    padding: 0 2em 0 2em !important;
}


//footer
ion-footer{

    ion-col{
        text-align: center;
    }

    ion-icon{
        color:var(--ion-color-primary);
        font-size: 26px;
    }
}

