<!--header-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <!--title-->
        <ion-row>
          <ion-col size="12"><h1>{{selectedScore.name}}</h1></ion-col>
        </ion-row>
        
        <!--score info-->
        <ion-row>
          <ion-col size="6"><h3>{{selectedScore.composer}}</h3></ion-col>
          <ion-col size="6"><h4>{{parts ? parts.length + ' Parts' : '1 Part'}} </h4></ion-col>
        </ion-row>

        <!--description-->
        <ion-row>
          <ion-col size="12">
            <p>{{selectedScore.description}}</p>
          </ion-col>
        </ion-row>
      </ion-col>

      
      <ion-col class="ion-text-end" size="6">
        <!--visibility-->
        <ion-row>
          <ion-col size="12">
            <h3>{{ensembleService.getEnsembleByID(selectedScore.ensembleID)? ensembleService.getEnsembleByID(selectedScore.ensembleID).name : 'Personal'  }}</h3>
          </ion-col>
        </ion-row>

        <!--avatar-->
        <ion-row>
          <ion-col size="12">
            <ion-avatar id="ensemblePic">
              <img src="/assets/images/userPic.jpg" alt="account profile image">
            </ion-avatar>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  <!--segment nav-->
  <ion-segment [(ngModel)]="selectedtab">
  <ion-segment-button value="score" layout="icon-start">
    <ion-label>Score & Parts</ion-label>
    <ion-icon name="library"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="recordings" layout="icon-start">
      <ion-label>Recordings</ion-label>
      <ion-icon name="mic"></ion-icon>
    </ion-segment-button>
    
    <ion-segment-button value="events" layout="icon-start">
      <ion-label>Events</ion-label>
      <ion-icon name="flame"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <!--scores-->
  <div *ngIf="selectedtab =='score'">

    <!--Full score-->
    <ion-list class="boxSection" lines="none">
      <!--list header-->
      <ion-item>
        <h2>Full Score</h2>
      </ion-item>

      <ion-item>
        <h6>Type</h6>
      </ion-item>

      <ion-item>
      <!--full score card-->
        <ion-card [routerLink]="[scoreID]"  class="pieceCard" color="light">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="11"><h1>Full Score</h1></ion-col>
                <ion-col size="1">popover</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>

    </ion-list>


    <!--Parts-->
    <!--Strings-->
    <ion-list class="boxSection" *ngIf="checkParts('strings')" lines="none">
      <ion-item>
        <h2>Strings</h2>
      </ion-item>

      <ion-item>
        <h6>Type</h6>
      </ion-item>

      <ion-item *ngFor="let instrInSection of strings; let i = index">
      <!--piece card-->
        <ion-card class="pieceCard" color="light">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col (click)="partSelect(instrInSection.partName);" size="11"><h1>{{instrInSection.partName}}</h1></ion-col>
                <ion-col size="1">{{i}}popover</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>

    <!--woodwind-->
    <ion-list class="boxSection" *ngIf="checkParts('woodwind')" lines="none">
      <ion-item>
        <h2>Woodwind</h2>
      </ion-item>

      <ion-item>
        <h6>Type</h6>
      </ion-item>

      <ion-item *ngFor="let instrInSection of woodwind; let i = index">
      <!--piece card-->
        <ion-card class="pieceCard" color="light">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col (click)="partSelect(instrInSection.partName);" size="11"><h1>{{instrInSection.partName}}</h1></ion-col>
                <ion-col size="1">{{i}}popover</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>

    <!--Brass-->
    <ion-list class="boxSection" *ngIf="checkParts('brass')" lines="none">
      <ion-item>
        <h2>Brass</h2>
      </ion-item>

      <ion-item>
        <h6>Type</h6>
      </ion-item>

      <ion-item *ngFor="let instrInSection of brass; let i = index">
      <!--piece card-->
        <ion-card class="pieceCard" color="light">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col (click)="partSelect(instrInSection.partName);" size="11"><h1>{{instrInSection.partName}}</h1></ion-col>
                <ion-col size="1">popover</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>

    <!--percussion-->
    <ion-list class="boxSection" *ngIf="checkParts('percussion')" lines="none">
      <ion-item>
        <h2>percussion</h2>
      </ion-item>

      <ion-item>
        <h6>Type</h6>
      </ion-item>

      <ion-item *ngFor="let instrInSection of percussion; let i = index">
      <!--piece card-->
        <ion-card class="pieceCard" color="light">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col (click)="partSelect(instrInSection.partName);" size="11"><h1>{{instrInSection.partName}}</h1></ion-col>
                <ion-col size="1">{{i}}popover</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>

  </div>

  <!--recordings-->
  <div *ngIf="selectedtab =='recordings'">
    <!--Full score-->
    <ion-list class="boxSection" lines="none">
      <!--list header-->
      <ion-item>
        <h2>Full Score</h2>
      </ion-item>

      <ion-item>
        <h6>Type</h6>
      </ion-item>

      <ion-item>
      <!--full score accordion-->
        <ion-card  class="recCard" color="light">
          <ion-accordion-group>
            <ion-accordion value="fullScore">

              <ion-item slot="header">
                <ion-card-content>
                  <h1>Full Score</h1>
                </ion-card-content>
              </ion-item>

              <ion-list slot="content">
                <ion-item>(recording here)</ion-item>
                <ion-item>(recording here)</ion-item>
                <ion-item id="button-item">
                  <ion-button color="primary" expand="block">combine recordings</ion-button>
                </ion-item>

              </ion-list>
          </ion-accordion>
        </ion-accordion-group>
        </ion-card>
      </ion-item>

    </ion-list>

    <!--strings-->
    <ion-list class="boxSection" *ngIf="checkParts('strings') && checkRecording('strings');" lines="none">
      <ion-item>
        <h2>Strings</h2>
      </ion-item>

      <ion-item>
        <h6>Instrument</h6>
      </ion-item>     
      
      <ion-item *ngFor="let instruInSection of getArrayWithRecordings(strings);">
        <!--piece card-->
          <ion-card class="recCard" color="light">
              <!--accordion-->
              <ion-accordion-group>
                <ion-accordion>
                  <ion-item slot="header">
                    <ion-card-content>
                      <h1>{{instruInSection.partName}}</h1>
                    </ion-card-content>
                  </ion-item>

                  <!--list of recordings-->
                  <ion-list slot="content">
                    <ion-item *ngFor="let recording of instruInSection.recordings let i = index" (click)="playRec(recording);">
                      <ion-row>
                        <ion-col size="10">{{recording.name}}</ion-col>
                        <ion-col size="2" >
                          <ion-icon name="play" *ngIf="!isPlaying"></ion-icon>
                          <ion-icon name="pause" *ngIf="isPlaying"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-item>
                  </ion-list>

              </ion-accordion>
            </ion-accordion-group>
          </ion-card>
      </ion-item>
    </ion-list>

    <!--woodwind-->
    <ion-list class="boxSection" *ngIf="checkParts('woodwind') && checkRecording('woodwind');" lines="none">
      <ion-item>
        <h2>Woodwinds</h2>
      </ion-item>

      <ion-item>
        <h6>Instrument</h6>
      </ion-item>

      <ion-item *ngFor="let instruInSection of getArrayWithRecordings(woodwind);">
        <!--piece card-->
        <ion-card class="recCard" color="light">
          <div *ngIf="instruInSection.recordings.length > 0">
            <!--accordion-->
            <ion-accordion-group>
              <ion-accordion>
                <ion-item slot="header">
                  <ion-card-content>
                    <h1>{{instruInSection.partName}}</h1>
                  </ion-card-content>
                </ion-item>

                <!--list of recordings-->
                <ion-list slot="content">
                  <ion-item *ngFor="let recording of instruInSection.recordings let i = index;" (click)="playRec(recording);">
                    <ion-row>
                      <ion-col size="10">{{recording.name}}</ion-col>
                      <ion-col size="2">
                        <ion-icon  name="play" *ngIf="!isPlaying"></ion-icon>
                        <ion-icon name="pause" *ngIf="isPlaying" ></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                </ion-list>

            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-card>
      </ion-item>
    </ion-list>

    <!--brass-->
    <ion-list class="boxSection" *ngIf="checkParts('brass')  && checkRecording('brass');" lines="none">
      <ion-item>
        <h2>Brass</h2>
      </ion-item>

      <ion-item>
        <h6>Instrument</h6>
      </ion-item>

      <ion-item *ngFor="let instruInSection of getArrayWithRecordings(brass);">
        <!--piece card-->
        <ion-card class="recCard" color="light">
          <div *ngIf="instruInSection.recordings.length > 0">
            <!--accordion-->
            <ion-accordion-group>
              <ion-accordion>
                <ion-item slot="header">
                  <ion-card-content>
                    <h1>{{instruInSection.partName}}</h1>
                  </ion-card-content>
                </ion-item>

                <!--list of recordings-->
                <ion-list slot="content">
                  <ion-item *ngFor="let recording of instruInSection.recordings let i = index" (click)="playRec(recording);">
                    <ion-row>
                      <ion-col size="10">{{recording.name}}</ion-col>
                      <ion-col size="2">
                        <ion-icon name="play" *ngIf="!isPlaying"></ion-icon>
                        <ion-icon name="pause" *ngIf="isPlaying"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                </ion-list>

            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-card>
      </ion-item>
    </ion-list>

    <!--percussion-->
    <ion-list class="boxSection" *ngIf="checkParts('percussion')  && checkRecording('percussion');" lines="none">
      <ion-item>
        <h2>Percussion</h2>
      </ion-item>

      <ion-item>
        <h6>Instrument</h6>
      </ion-item>

      <ion-item *ngFor="let instruInSection of getArrayWithRecordings(percussion);">
        <!--piece card-->
        <ion-card class="recCard" color="light">
          <div *ngIf="instruInSection.recordings.length > 0">
            <!--accordion-->
            <ion-accordion-group>
              <ion-accordion>
                <ion-item slot="header">
                  <ion-card-content>
                    <h1>{{instruInSection.partName}}</h1>
                  </ion-card-content>
                </ion-item>

                <!--list of recordings-->
                <ion-list slot="content">
                  <ion-item *ngFor="let recording of instruInSection.recordings let i = index" (click)="playRec(recording);">
                    <ion-row>
                      <ion-col size="10">{{recording.name}}</ion-col>
                      <ion-col size="2">
                        <ion-icon name="play" *ngIf="!isPlaying"></ion-icon>
                        <ion-icon name="pause" *ngIf="isPlaying"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                </ion-list>

            </ion-accordion>
          </ion-accordion-group>
        </div>
      </ion-card>
      </ion-item>
    </ion-list>

  </div>

  <!--events-->
  <!-- only show if score is in event -->
  <div *ngIf="selectedtab =='events'">
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button class="ion-float-end" color="primary" (click)="eventModal()">Add Event</ion-button>
          </ion-col>
        </ion-row>
        <!--events cards-->
        <ion-row>
          <!--card 1, 2, etc.. -->
          <ion-col size="4" *ngFor="let event of scoreEvents">
            <ion-card color="light" [routerLink]="['/','tabs','tab4',event.ensembleID,event.id]">
              <img src="/assets/images/mpo.jpg" alt="mpo">
  
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-card-subtitle>(ensemble name)</ion-card-subtitle>
                      <ion-text color="danger">(date/time)</ion-text>
                    </ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col size="12">
                      <ion-text color="success">{{event.type}}</ion-text>
                    </ion-col>
                  </ion-row>
  
                </ion-grid>
                <ion-card-title>{{event.name}}</ion-card-title>
              </ion-card-header>
  
              <ion-card-content>
                <p>{{event.description}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
  
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>

<!--[routerLink]="['/score/', getScoreID()]"-->
