<ion-toolbar class="Toolbar">
  <ion-label>
    <h1>Metronome</h1>
  </ion-label>
  
  <ion-buttons slot="end">
    <ion-toggle color="primary" [checked]="btnCheck" (ionChange)="getBtnValue($event)"></ion-toggle>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  
  <div id="timeSigniture">
    <ion-card color="light" (click)="showPicker('beats')">{{noOfBeats}}</ion-card>
    <ion-card color="light" (click)="showPicker('value')">{{beatValue}}</ion-card>
  </div>
  
  <ion-item>
    <div #slideRuler></div>
  <div id="values"></div>
  <div id="app"></div>
  </ion-item>


</ion-content>
