<ion-toolbar class="Toolbar">
  <ion-label>
    <h1>Metronome</h1>
  </ion-label>
  
  <ion-buttons slot="end">
    <ion-toggle color="primary"></ion-toggle>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <h3>Time Signature</h3>
  
  <ion-item (click)="showPicker()">
    <ion-card color="light">
      <ion-chip>{{noOfBeats}}</ion-chip>
      <ion-chip>{{beatValue}}</ion-chip>
    </ion-card>
  </ion-item>
  
  <ion-item>
    <div #slideRuler></div>
  <div id="values"></div>
  <div id="app"></div>
  </ion-item>


</ion-content>
